Repository BPLA-Team/locus_no_pilotus, pull requests merged in 2024-05, with the labels that each got.

#67 doxygen update
  .github/workflows/doxygen.yml
  doxyfile
  install_doxygen.sh
Labels: documentation, mistakefix

#63 Helpers functions test and fix
  math/littles_algorithm/adjacency_matrix.cpp
  math/littles_algorithm/adjacency_matrix.h
  math/littles_algorithm/travelling_salesmans_problem.cpp
  math/littles_algorithm/tspgraph.h
  math/optimal_way/helpers_functions.cpp
  math/optimal_way/helpers_functions.h
  math/optimal_way/obstacles.h
  math/optimal_way/optimal_way.cpp
  math/optimal_way/optimal_way.h
  math/optimal_way/path_graph.cpp
  math/optimal_way/path_graph.h
  tests/maths/are_there_intersections.cpp
  tests/maths/dijkstra.cpp
  tests/maths/distance_between_points.cpp
  tests/maths/many_tsp.cpp
  tests/maths/matrix.cpp
  tests/maths/tangen_points_from_point.cpp
  tests/maths/tangent_points.cpp
  tests/maths/tangents_between.cpp
  tests/maths/tsp.cpp
Labels: bugfix, mistakefix, backend (math)

#69 Embed polygon obstacle
  math/optimal_way/obstacles.h
  math/optimal_way/optimal_way.cpp
  math/optimal_way/optimal_way.h
  math/optimal_way/path_graph.h
Labels: mistakefix, backend (math)

#70 update images
  images/AA.png
  images/better_cross_cursor.png
  images/choose_cursor.png
  images/enemy.png
  images/high_hills.png
  images/icon.png
  images/images_source.html
  images/move_cursor.png
  main/mainwindow_connections/other_connections.cpp
Labels: new feature, gui, small

#71 extra rename
  images/flying_robot.png
  main/add_objects_forms/add_trappy_line_form.ui
  main/mainwindow.ui
Labels: extra

#68 gui fix
  data_tools/tables_connection/tables_connection.cpp
  data_tools/tables_connection/tables_connection.h
  gui/airport.cpp
  gui/base.h
  gui/hill.cpp
  gui/target.cpp
  gui/trappy_circle.cpp
  gui/trappy_circle.h
  gui/trappy_line.cpp
  lib/hill.cpp
  lib/target.cpp
  lib/trappy_circle.cpp
  main/gui_json_file/gui_json_file.h
  main/gui_json_file/open.cpp
  main/mainwindow.cpp
  main/mainwindow_connections/interaction_buttons.cpp
  main/mainwindow_connections/menu_add_actions.cpp
  main/mainwindow_connections/menu_file_actions.cpp
  main/mainwindow_connections/other_connections.cpp
Labels: bugfix, mistakefix, gui

#77 extra various update
  .extra/GeoGebra/math_test_1.ggb
  .extra/GeoGebra/unit_circle.ggb
  .extra/GeoGebra/unit_circle.html
  .extra/doxygen/doxyfile
  .extra/doxygen/install_doxygen.sh
  .extra/images/AA.png
  .extra/images/better_cross_cursor.png
  .extra/images/choose_cursor.png
  .extra/images/flying_robot.png
  .extra/images/high_hills.png
  .extra/images/icon.png
  .extra/images/images_source.html
  .extra/images/move_cursor.png
  .extra/images/new_file.png
  .extra/images/open_file.png
  .extra/images/play_triangle.png
  .extra/images/save_file.png
  .extra/images/save_file_as.png
  .extra/images/sliders.png
  .extra/images/target.png
  .extra/images/warning_file.png
  .extra/json/PRESENTATION.json
  .extra/json/file.json
  .extra/json/lot_of_points.json
  .extra/json/math_test_1.json
  .github/workflows/doxygen.yml
  .gitignore
  .gitmodules
  CMakeLists.txt
  README.md
  cmake_paths.cmake
  cmake_scripts/scripts_for_qcustomplot.cmake
  cmake_scripts/scripts_for_vscode.cmake
  data_tools/tables_connection/tables_connection.cpp
  main/main.cpp
  main/mainwindow.ui
  main/mainwindow_connections/interaction_buttons.cpp
  main/mainwindow_connections/other_connections.cpp
  tests/lib/segment_test.cpp
  unit_circle.html
Labels: documentation, mistakefix, extra

#78 Optimal way tests
  math/optimal_way/helpers_functions.cpp
  math/optimal_way/helpers_functions.h
  math/optimal_way/obstacles.h
  math/optimal_way/optimal_way.cpp
  math/optimal_way/optimal_way.h
  math/optimal_way/path_graph.h
  tests/maths/optimal_way.cpp
  tests/maths/tangents_between.cpp
Labels: mistakefix, backend (math)

#79 fix images path in doxygen and update in to 1.10.0
  .extra/doxygen/doxyfile
  .extra/doxygen/install_doxygen.sh
Labels: documentation, mistakefix, small

#80 Add animation
  gui/_objects.h
  gui/flying_robot.cpp
  gui/flying_robot.h
  main/mainwindow.h
Labels: new feature, gui

#81 Trajectory calculator
  math/littles_algorithm/adjacency_matrix.cpp
  math/optimal_way/obstacles.h
  math/optimal_way/optimal_way.cpp
  math/optimal_way/optimal_way.h
  math/trajectory.cpp
  math/trajectory.h
Labels: new feature, mistakefix, backend (math)

#84 small fixes
  .extra/images/AA.png
  .extra/images/target.png
  .extra/json/file.json
  .extra/json/shapes_2.json
  README.md
Labels: extra, small

#85 smaller fixes
  README.md
  main/mainwindow.cpp
Labels: gui, extra, small

#87 Hill common tangents
  math/optimal_way/obstacles.h
  math/optimal_way/optimal_way.cpp
Labels: bugfix, backend (math)

#88 update readme
  README.md
Labels: new feature, extra
