Repository BPLA-Team/locus_no_pilotus, pull requests merged in 2024-04, with the labels that each got.

#31 update documentation
  .github/workflows/doxygen.yml
  doxyfile
  gui/base.h
  gui/data_manager/data_manager.h
  gui/hill.h
  gui/target.h
  gui/trappy_circle.h
  gui/trappy_line.h
  lib/base.h
  lib/hill.h
  lib/target.h
  lib/trappy_circle.h
  lib/trappy_line.h
  main/add_objects_forms/add_hill_form.h
  main/plot_area/plot_area.h
Labels: documentation, mistakefix

#32 update gui tables
  gui/base.h
  gui/data_manager/data_manager.cpp
  gui/data_manager/data_manager.h
  gui/hill.h
  gui/target.h
  gui/trappy_circle.h
  gui/trappy_line.h
  main/mainwindow.cpp
  main/mainwindow.ui
  main/plot_area/plot_area.cpp
  main/plot_area/plot_area.h
  main/table_manager/table_manager.cpp
  main/table_manager/table_manager.h
  tests/lib/hill_test.cpp
  tests/lib/target_test.cpp
  tests/lib/trappy_circle_test.cpp
Labels: enhancement, gui

#33 fix mistake with always missing branch rule for workflow editing
  .github/workflows/doxygen.yml
Labels: documentation, mistakefix

#34 MrWh1teF0x json updating
  gui/data_manager/data_manager.cpp
  gui/data_manager/data_manager.h
  lib/base.h
  lib/hill.cpp
  lib/target.cpp
  lib/trappy_circle.cpp
  lib/trappy_line.cpp
  main/gui_json_file/gui_json_file.h
  main/gui_json_file/new.cpp
  main/gui_json_file/open.cpp
  main/gui_json_file/save.cpp
  main/mainwindow.h
  main/mainwindow_connections.cpp
  main/plot_area/plot_area.cpp
  main/plot_area/plot_area.h
Labels: enhancement, mistakefix, gui

#39 TSP changes
  backend/littles_algorithm/adjacency_matrix.h
  backend/littles_algorithm/travelling_salesmans_problem.cpp
  backend/littles_algorithm/travelling_salesmans_problem.h
  tests/maths/many_tsp_tests.cpp
  tests/maths/tsp_tests.cpp
Labels: mistakefix, backend (math)

#40 gui restructure and table modify
  CMakeLists.txt
  cmake_paths.cmake
  cmake_scripts/scripts_for_vscode.cmake
  data_tools/data_manager/data_manager.cpp
  data_tools/data_manager/data_manager.h
  data_tools/plot_area/plot_area.cpp
  data_tools/plot_area/plot_area.h
  data_tools/tables_connection/tables_connection.cpp
  data_tools/tables_connection/tables_connection.h
  gui/CMakeLists.txt
  gui/base.h
  gui/hill.cpp
  gui/hill.h
  gui/target.cpp
  gui/target.h
  gui/trappy_circle.cpp
  gui/trappy_circle.h
  gui/trappy_line.cpp
  gui/trappy_line.h
  lib/base.h
  lib/hill.cpp
  lib/hill.h
  lib/target.cpp
  lib/target.h
  lib/trappy_circle.cpp
  lib/trappy_circle.h
  lib/trappy_line.cpp
  lib/trappy_line.h
  main/CMakeLists.txt
  main/add_objects_forms/add_hill_form.cpp
  main/add_objects_forms/add_hill_form.h
  main/add_objects_forms/add_target_form.h
  main/add_objects_forms/add_trappy_circle_form.cpp
  main/add_objects_forms/add_trappy_circle_form.h
  main/gui_json_file/gui_json_file.h
  main/gui_json_file/new.cpp
  main/gui_json_file/open.cpp
  main/gui_json_file/save.cpp
  main/mainwindow.cpp
  main/mainwindow.h
  main/mainwindow.ui
  main/mainwindow_connections.cpp
  main/plot_area/plot_area.cpp
  main/plot_area/plot_area.h
  main/table_manager/table_manager.cpp
  tests/lib/hill_test.cpp
  tests/maths/many_tsp_tests.cpp
  tests/maths/tsp_tests.cpp
Labels: mistakefix, gui, extra, mistake

#43 extra update
  CMakeLists.txt
  README.md
  backend/CMakeLists.txt
  backend/adjacency_matrix.cpp
  backend/adjacency_matrix.h
  backend/travelling_salesmans_problem.cpp
  backend/travelling_salesmans_problem.h
  backend/tspgraph.h
  cmake_paths.cmake
  cmake_scripts/scripts_for_icecream_cpp.cmake
  cmake_scripts/scripts_for_qcustomplot.cmake
  cmake_scripts/scripts_for_vscode.cmake
  data_tools/data_manager/data_manager.h
  data_tools/plot_area/plot_area.h
  data_tools/tables_connection/tables_connection.h
  doxyfile
  gui/base.h
  gui/hill.h
  gui/target.h
  gui/trappy_circle.h
  gui/trappy_line.cpp
  gui/trappy_line.h
  lib/CMakeLists.txt
  lib/base.h
  lib/hill.h
  lib/target.h
  lib/trappy_circle.h
  lib/trappy_line.h
  main/CMakeLists.txt
  main/add_objects_forms/add_hill_form.h
  math/littles_algorithm/adjacency_matrix.cpp
  math/littles_algorithm/adjacency_matrix.h
  math/littles_algorithm/travelling_salesmans_problem.cpp
  math/littles_algorithm/travelling_salesmans_problem.h
  math/littles_algorithm/tspgraph.h
  math/optimal_way/circle_obstacle.h
  math/optimal_way/helpers_functions.cpp
  math/optimal_way/helpers_functions.h
  math/optimal_way/optimal_way.cpp
  math/optimal_way/optimal_way.h
  math/optimal_way/path_graph.cpp
  math/optimal_way/path_graph.h
  tests/CMakeLists.txt
  tests/dijkstra_test.cpp
  tests/maths/many_tsp_tests.cpp
  tests/maths/matrix_test.cpp
  tests/maths/tsp_tests.cpp
Labels: documentation, mistakefix, extra

#44 small fixes
  README.md
  lib/hill.h
Labels: documentation, mistakefix

#45 include simplify (by using CMake include_directories)
  lib/CMakeLists.txt
  math/optimal_way/circle_obstacle.h
  tests/CMakeLists.txt
  tests/dijkstra_test.cpp
  tests/lib/hill_test.cpp
  tests/lib/point_test.cpp
  tests/lib/target_test.cpp
  tests/lib/trappy_circle_test.cpp
  tests/maths/many_tsp_tests.cpp
  tests/maths/matrix_test.cpp
  tests/maths/tsp_tests.cpp
Labels: mistakefix, extra

#46 gui data_manager rewrite
  data_tools/data_manager/data_manager.cpp
  data_tools/data_manager/data_manager.h
  data_tools/plot_area/plot_area.cpp
  data_tools/tables_connection/tables_connection.cpp
  gui/trappy_line.cpp
  gui/trappy_line.h
  lib/trappy_line.h
  main/mainwindow.ui
  main/mainwindow_connections.cpp
Labels: bugfix, mistakefix, gui

#48 gui table update
  data_tools/tables_connection/tables_connection.cpp
  gui/hill.h
  main/mainwindow.ui
Labels: enhancement, gui

#49 gui table: fix seg fault on opening files
  data_tools/tables_connection/tables_connection.cpp
Labels: bugfix, gui

#50 fix name of class DijkstrasAlgorithm
  math/optimal_way/optimal_way.cpp
  math/optimal_way/path_graph.cpp
  math/optimal_way/path_graph.h
  tests/dijkstra_test.cpp
Labels: mistakefix, backend (math)

#52 gui complete tables
  data_tools/tables_connection/tables_connection.cpp
  data_tools/tables_connection/tables_connection.h
  gui/hill.cpp
  gui/trappy_line.cpp
  main/add_objects_forms/add_hill_form.ui
  main/add_objects_forms/add_target_form.ui
  main/add_objects_forms/add_trappy_circle_form.ui
  main/add_objects_forms/add_trappy_line_form.ui
  main/mainwindow.cpp
  main/mainwindow.h
  main/mainwindow.ui
  main/mainwindow_connections.cpp
Labels: enhancement, mistakefix, gui

#54 Update interaction buttons
  main/mainwindow.cpp
  main/mainwindow.h
  main/mainwindow_connections.cpp
  main/mainwindow_connections/interaction_buttons.cpp
  main/mainwindow_connections/menu_add_actions.cpp
  main/mainwindow_connections/menu_file_actions.cpp
  main/mainwindow_connections/other_buttons.cpp
Labels: mistakefix, gui

#55 Fix codestyle
  math/optimal_way/helpers_functions.cpp
  math/optimal_way/obstacles.h
  math/optimal_way/path_graph.cpp
Labels: mistakefix, backend (math)

#56 gui mistakes fix
  data_tools/tables_connection/tables_connection.cpp
  gui/base.h
  gui/hill.cpp
  gui/hill.h
  gui/target.cpp
  gui/target.h
  gui/trappy_circle.cpp
  gui/trappy_circle.h
  gui/trappy_line.cpp
  gui/trappy_line.h
  lib/base.h
  lib/hill.cpp
  lib/hill.h
  lib/target.cpp
  lib/target.h
  lib/trappy_circle.cpp
  lib/trappy_circle.h
  lib/trappy_line.cpp
  lib/trappy_line.h
  main/gui_json_file/open.cpp
  main/gui_json_file/save.cpp
  main/mainwindow.cpp
  main/mainwindow_connections/interaction_buttons.cpp
Labels: mistakefix, gui

#57 gui error catching
  data_tools/data_manager/data_manager.cpp
  data_tools/data_manager/data_manager.h
  data_tools/tables_connection/tables_connection.cpp
  doxyfile
  gui/hill.h
  gui/target.h
  gui/trappy_circle.h
  gui/trappy_line.h
  lib/base.h
  lib/hill.cpp
  lib/hill.h
  lib/target.cpp
  lib/target.h
  lib/trappy_circle.cpp
  lib/trappy_circle.h
  lib/trappy_line.cpp
  lib/trappy_line.h
  main/gui_json_file/gui_json_file.h
  main/gui_json_file/open.cpp
  main/mainwindow.cpp
  main/mainwindow.h
  main/mainwindow_connections/interaction_buttons.cpp
  main/mainwindow_connections/menu_add_actions.cpp
  main/mainwindow_connections/menu_file_actions.cpp
  main/mainwindow_connections/other_connections.cpp
Labels: documentation, enhancement, mistakefix, gui

#58 gui small fixes
  data_tools/data_manager/data_manager.cpp
  data_tools/data_manager/data_manager.h
  data_tools/plot_area/plot_area.cpp
  data_tools/tables_connection/tables_connection.h
  lib/point.h
  math/littles_algorithm/adjacency_matrix.h
  math/littles_algorithm/travelling_salesmans_problem.h
  math/optimal_way/helpers_functions.h
  math/optimal_way/obstacles.h
  math/optimal_way/optimal_way.h
Labels: documentation, gui, small

#59 fix remove bug from tables
  data_tools/tables_connection/tables_connection.cpp
Labels: bugfix, gui, small

#60 Fix json 2
  data_tools/data_manager/data_manager.cpp
  data_tools/data_manager/data_manager.h
  lib/base.h
  lib/hill.cpp
  lib/hill.h
  lib/target.cpp
  lib/target.h
  lib/trappy_circle.cpp
  lib/trappy_circle.h
  lib/trappy_line.cpp
  lib/trappy_line.h
  main/gui_json_file/open.cpp
  main/gui_json_file/save.cpp
Labels: enhancement, bugfix, mistakefix, gui

#61 fix problem in json with ids
  data_tools/data_manager/data_manager.cpp
Labels: bugfix, gui, small

#62 gui add airport
  data_tools/data_manager/data_manager.cpp
  data_tools/data_manager/data_manager.h
  data_tools/tables_connection/tables_connection.cpp
  gui/airport.cpp
  gui/airport.h
  gui/target.h
Labels: enhancement, mistakefix, gui

#64 Gui plot updating
  main/mainwindow.cpp
  main/mainwindow.h
  main/mainwindow_connections/interaction_buttons.cpp
  main/mainwindow_connections/other_connections.cpp
Labels: mistakefix, gui

#65 Update adding objects
  main/add_objects_forms/add_hill_form.cpp
  main/add_objects_forms/add_hill_form.h
  main/add_objects_forms/add_hill_form.ui
  main/add_objects_forms/add_target_form.cpp
  main/add_objects_forms/add_target_form.h
  main/add_objects_forms/add_trappy_circle_form.cpp
  main/add_objects_forms/add_trappy_circle_form.h
  main/add_objects_forms/add_trappy_line_form.cpp
  main/add_objects_forms/add_trappy_line_form.h
  main/mainwindow.h
  main/mainwindow_connections/menu_add_actions.cpp
Labels: enhancement, gui
